body{
    margin-top: 60px;
    color: "#f4f4f4";
}

.center{
    text-align: center;
}

#author{
    text-align: right;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

#quote{
    font-family: 'Bellefair', serif;
    margin-top: 30vh;
    font-size: 48px;
}

.container{
    max-width: 45%;
}

.emptyspace{
    width: 50px;
}

.centeredIcons{
    margin: 0 auto;
}

.push-right{
    margin-right: 50px;
}